@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic");
* { box-sizing: border-box; }

/* ========= BODY ===========*/
body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; }

/* ======== HEADER ========== */
.container { margin: 0 auto; width: 100%; max-width: 1200px; }

.container2 { display: -ms-flexbox; display: flex; }

header h1, header h3 { margin: 0; color: #2c3e50; word-spacing: 5px; text-align: center; }

header { padding: 0 10px; width: 100%; background-color: #2ecc71; }

header h1 { padding: 10px 0 0 0; font-size: 32px; text-transform: uppercase; }

header h3 { padding: 0 0 10px 0; font-size: 20px; }

/* ======= MAIN ==========*/
main { margin: 0 auto; }

section { margin: 50px auto; padding: 0; text-align: center; }

.dev1 { color: #3498db; }

/* ======= FOOTER ======== */
footer { padding: 0; background-color: #3498db; text-align: center; }

footer > p { margin: 0; padding: 20px 0; color: #2c3e50; }
